.container{
    width: 500px;
    margin: 20px auto;
    padding: 30px;
    overflow: hidden;
}

.container span,
.container p,
.container div{
    line-height: 1.6;
}

h1 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: normal;
	position: relative;
	text-align: center;
}
h1 span {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0 4em;
	padding: 0 1em;
	background-color: #fff;
	text-align: left;
}
h1::before {
	position: absolute;
	top: 50%;
	z-index: 1;
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #ccc;
	background: -webkit-linear-gradient(-45deg, transparent, #ccc 10%, #ccc 90%, transparent);
	background: linear-gradient(-45deg, transparent, #ccc 10%, #ccc 90%, transparent);
}

.mailform dl{
    margin-bottom: 30px;
}

.mailform dt{
    margin-bottom: 8px;
}

.mailform dd{
    margin-bottom: 14px;
}

.mailform dd input[type="text"],
.mailform dd select,
dd textarea{
    font-family: inherit;
    padding: 6px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.mailform dd input[type="radio"]{
    width: 16px;
    height: 16px;
    margin-bottom: 5px;
}

.mailform dd textarea{
    width: 500px;
    height: 120px;
    box-sizing: border-box;
}

.submit_area{
    text-align: center;
}

input[type="submit"][value="確認"],
input[type="submit"][value="送信"]{
    font-family: inherit;
    padding: 15px 25px;
    font-size: 16px;
    background: none;
    border-radius: 8px;
    border: none;
    background: #5d3fff;
    color: #fff;
}

input[type="button"][value="戻る"]{
    font-family: inherit;
    margin-left: 15px;
    padding: 15px 25px;
    font-size: 16px;
    background: none;
    border-radius: 8px;
    border: 1px solid #5d3fff;
    color: #5d3fff;
    display: inline-block;
}

input[type="button"][value="戻る"].single{
    margin-left: 0;
}

.confirmation{
    margin-bottom: 40px;
}


.submit_content dl{
    margin-bottom: 30px;
    overflow: hidden;
}

.submit_content dt{
    width: 140px;
    margin-bottom: 25px;
    padding-bottom: 12px;
    float: left;
    text-align: right;
    clear: both;
}

.submit_content dd{
    width: 340px;
    float: right;
    float: 15px;
    margin-bottom: 25px;
    padding-bottom: 12px;
    border-bottom: 1px solid  #ccc;
}

.err{
    color: red;
}

.completion{
    margin-bottom: 50px;
    text-align: center;
}